* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("../assets/login-background.svg") center/cover no-repeat; /* svg в отличае от jpeg и png отрисовывается без эффекта "лесенки" */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
